.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
}

.slide .topbar {
  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.slide .overlap-group {
  /* height: 80vh; */
  top: 0;
  /* position: absolute; */
  width: 100%;
  left: 0;
}

.slide .rectangle {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 79px;
  left: 0;
  background-color: #d9d9d9;
}

.slide .rectangle-2 {
  position: absolute;
  width: 637px;
  height: 671px;
  top: 312px;
  left: 257px;
  border-radius: 20px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(180.66, 236.94, 211.61) 24%, rgb(134.22, 173.19, 155.65) 100%);
}

.slide .rectangle-3 {
  position: absolute;
  width: 882px;
  height: 428px;
  top: 162px;
  left: 698px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(68.9, 160.17, 209.31) 0%, rgb(35.32, 82.12, 107.31) 100%);
}

.slide .rectangle-4 {
  position: absolute;
  width: 673px;
  height: 572px;
  top: 440px;
  left: 850px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgb(202.94, 72.72, 153.02) 0%, rgb(100.94, 36.17, 76.11) 100%);
}

.slide .rectangle-5 {
  position: absolute;
  width: 381px;
  height: 365px;
  top: 685px;
  left: 560px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgb(130.9, 124.24, 224.19) 29%, rgb(113.21, 111.35, 139.19) 100%);
}

.slide .text-wrapper {
  position: absolute;
  width: 275px;
  top: 661px;
  left: 822px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .quiskit-fall-fest {
  position: absolute;
  width: 1380px;
  height: 232px;
  top: 530px;
  left: 270px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fffafa;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide #about {
  background-color: #e3fdff;
  width: 100%;
  min-height: 200px;
}


.slide .text-wrapper-5 {
  width: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.slide #agenda {
  background-color: #ffffff;
  width: 100%;
  min-height: 200px;
}

.slide .text-wrapper-4 {
  width: 374px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.slide #speakers {
  /* height: 1080px; */
  background-color: #e3fdff;
  width: 100%;
  left: 0;
}

.slide .ellipse {
  top: 437px;
  left: 810px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-2 {
  top: 437px;
  left: 1326px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .text-wrapper-2 {
  position: absolute;
  width: 440px;
  top: 109px;
  left: 740px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .ellipse-3 {
  top: 437px;
  left: 243px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-4 {
  top: 305px;
  left: 835px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-5 {
  top: 305px;
  left: 1351px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-6 {
  top: 305px;
  left: 268px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-7 {
  top: 683px;
  left: 506px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .ellipse-8 {
  top: 683px;
  left: 1137px;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 150px;
  border: 15px solid;
  border-color: #000000;
}

.slide .text-wrapper-3 {
  position: absolute;
  width: 507px;
  top: 109px;
  left: 706px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}
