.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slide .div {
  background-color: #ffffff;
  height: 5351px;
  position: relative;
  width: 100%;
}

.slide .overlap-group {
  background-color: #d9d9d9;
  height: 100vh;
  /* place in the center */
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
}

.slide .rectangle {
  background: radial-gradient(50% 50% at 50% 50%, rgb(180.66, 236.94, 211.61) 24%, rgb(134.22, 173.19, 155.65) 100%);
  border-radius: 20px;
  height: 671px;
  left: 257px;
  position: absolute;
  top: 233px;
  width: 637px;
}

.slide .rectangle-2 {
  background: linear-gradient(180deg, rgb(68.9, 160.17, 209.31) 0%, rgb(35.32, 82.12, 107.31) 100%);
  border-radius: 20px;
  height: 428px;
  left: 698px;
  position: absolute;
  top: 83px;
  width: 882px;
}

.slide .rectangle-3 {
  background: linear-gradient(180deg, rgb(202.94, 72.72, 153.02) 0%, rgb(100.94, 36.17, 76.11) 100%);
  border-radius: 30px;
  height: 572px;
  left: 850px;
  position: absolute;
  top: 361px;
  width: 673px;
}

.slide .text-wrapper {
  color: #fffafa;
  font-family: "Inter", Helvetica;
  font-size: 128px;
  font-weight: 400;
  left: 483px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
}

.slide .rectangle-4 {
  background: linear-gradient(180deg, rgb(130.9, 124.24, 224.19) 29%, rgb(113.21, 111.35, 139.19) 100%);
  border-radius: 30px;
  height: 365px;
  left: 560px;
  position: absolute;
  top: 606px;
  width: 381px;
}

.slide .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 822px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 582px;
  width: 275px;
}

.slide .overlap {
  background-color: #e3fdff;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 2160px;
  width: 1920px;
}

.slide .ellipse {
  background-color: #d9d9d9;
  border: 15px solid;
  border-color: #000000;
  border-radius: 150px;
  height: 300px;
  left: 506px;
  position: absolute;
  top: 683px;
  width: 300px;
}

.slide .ellipse-2 {
  background-color: #d9d9d9;
  border: 15px solid;
  border-color: #000000;
  border-radius: 150px;
  height: 300px;
  left: 1137px;
  position: absolute;
  top: 683px;
  width: 300px;
}

.slide .ellipse-3 {
  background-color: #d9d9d9;
  border: 15px solid;
  border-color: #000000;
  border-radius: 150px;
  height: 300px;
  left: 810px;
  position: absolute;
  top: 313px;
  width: 300px;
}

.slide .ellipse-4 {
  background-color: #d9d9d9;
  border: 15px solid;
  border-color: #000000;
  border-radius: 150px;
  height: 300px;
  left: 1326px;
  position: absolute;
  top: 313px;
  width: 300px;
}

.slide .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 740px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  width: 440px;
}

.slide .ellipse-5 {
  background-color: #d9d9d9;
  border: 15px solid;
  border-color: #000000;
  border-radius: 150px;
  height: 300px;
  left: 243px;
  position: absolute;
  top: 313px;
  width: 300px;
}

.slide .overlap-2 {
  background-color: #e3fdff;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 4271px;
  width: 1920px;
}

.slide .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 706px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  width: 507px;
}

.slide .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 773px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3363px;
  width: 374px;
}

.slide .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 806px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1198px;
  width: 308px;
}
